name: React Native Tests
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'binding/react-native/**'
      - 'lib/common/**'
      - '.github/workflows/react-native-tests.yml'
      - 'resources/audio_samples/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'binding/react-native/**'
      - 'lib/common/**'
      - '.github/workflows/react-native-tests.yml'
      - 'resources/audio_samples/**'

defaults:
  run:
    working-directory: binding/react-native/test-app/CheetahTestApp

jobs:
  test-android:
    name: Run tests on Android
    runs-on: pv-android

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

# ************** REMOVE AFTER RELEASE ********************
    - name: Set up Java 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'temurin'

    - name: Build binding
      run: ./gradlew assembleRelease --info
      working-directory: binding/android/Cheetah

    - name: Publish to Local Maven
      run: ./gradlew publishToMavenLocal
      working-directory: binding/android/Cheetah

    - name: Install React Native Binding Dependencies
      run: yarn install
      working-directory: binding/react-native

    - name: Build Local tarball
      run: yarn pkg
      working-directory: binding/react-native

    - name: Remove old package
      run: yarn remove @picovoice/cheetah-react-native

    - name: Add new local package
      run: yarn add ../../pkg/picovoice-cheetah-react-native-3.0.0.tgz

    - name: Set up Java 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'

# ************** REMOVE AFTER RELEASE ********************

    - name: Pre-build dependencies
      run: |
        yarn install
        ./copy_test_resources.sh

    - name: Inject AccessKey
      run: sed -i 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:' Tests.ts

    - name: Inject Device
      run: sed -i 's:{TESTING_DEVICE_HERE}:cpu\:1:' Tests.ts

    - name: Build tests
      run: detox build --configuration android.att.release

    - name: Run tests
      run: detox test --configuration android.att.release

  test-ios:
    name: Run tests on iOS
    runs-on: pv-ios

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

# ************** REMOVE AFTER RELEASE ********************
    - name: Pod cache clean
      run: pod cache clean --all

    - name: Yarn cache clean
      run: yarn cache clean

    - name: Install React Native Binding Dependencies
      run: yarn install
      working-directory: binding/react-native

    - name: Build Local tarball
      run: yarn pkg
      working-directory: binding/react-native

    - name: Remove old package
      run: yarn remove @picovoice/cheetah-react-native

    - name: Add new local package
      run: yarn add ../../pkg/picovoice-cheetah-react-native-3.0.0.tgz
# ************** REMOVE AFTER RELEASE ********************

    - name: Pre-build dependencies
      run: |
        yarn install
        ./copy_test_resources.sh

    - name: Cocoapods install
      working-directory: binding/react-native/test-app/CheetahTestApp/ios
      run: pod install --repo-update

    - name: Inject AccessKey
      run: sed -i '.bak' 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:' Tests.ts

    - name: Build tests
      run: detox build --configuration ios.sim.release

    - name: Run tests
      run: detox test --configuration ios.sim.release
